.header-content {
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100px;
  height: 64px;
  margin: 0px 24px 0px 0;
  background: #eff2f5;
  font-weight: bold;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/src/images/logo.png);
}

.slide-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.slide-image.slide-1 {
  background-image: url(/src/images/club/test1.jpeg);
}

.slide-image.slide-2 {
  background-image: url(/src/images/club/test2.jpeg);
}

.slide-image.slide-3 {
  background-image: url(/src/images/club/test3.jpeg);
}

.slide-image.slide-4 {
  background-image: url(/src/images/club/test4.jpeg);
}

.slide-image.slide-5 {
  background-image: url(/src/images/club/test5.jpeg);
}

.twitter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}